.error-container {
    max-width: 400px;
    margin: 0px auto;
    padding: 20px;
}

.error-image {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.error-title {
    color: white;
    font-family: 'sans-serif';
    text-align: center;
    font-size: 1em;
    font-weight: normal;
}

