.main-title {
    display: block;
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
    text-decoration: underline;
    text-decoration: None;
    padding: 20px;

}
