.navbar {
    text-align: center;
    padding: 20px 0px;
    background-color: #01403A;
    margin-bottom: 50px;
}

.navbar-anchor {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
}

.brand {
    font-family: "Great Vibes", cursive;
    font-weight: normal;
    font-size: 36px;
    color: white;
}
